@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$font-family: 'Montserrat', sans-serif;
$font-size: 18px;
$primary-color: #000;
$button-bg: #7AE5FD;
$button-hover-bg: darken($button-bg, 20%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
}

.container {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  gap: inherit;
  width: 100%;
  max-width: 1440px;
  padding: 0 71px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  background-color: #fff;

  &__logo img {
    width: 65px;
    height: 65px;
    object-fit: contain;
  }

  &__nav {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: $primary-color;
      font-weight: 500;
      margin-left: 56px;
      transition: color 0.3s;

      &:hover {
        color: $button-bg;
      }
    }
  }

  &__button {
    margin-left: 29px;
  }
}

.blue-button {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  max-width: 264px;
  background-color: $button-bg;
  color: #000;
  border: 0;
  padding: 21px 35px;
  border-radius: 87px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $button-hover-bg;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background: url('../public/images/background.png') center/cover no-repeat;
  padding: 0 40px;

  &__content {
    width: 40%;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 63px;
    font-weight: 800;
    margin: 0 0 20px;
    color: #fff;
  }

  &__subtitle {
    font-size: 20px;
    color: #000;
    max-width: 90%;
    margin-bottom: 30px;
  }

  &__button {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    max-width: 264px;
    background-color: #fff;
    color: #000;
    border: 0;
    padding: 21px 35px;
    border-radius: 87px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #dfdfdf;
    }
  }
}

.purpose {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 0;

  &__content {
    max-width: 950px;
    text-align: center;

    >p {
      margin-top: 15px;
    }
  }

  &__title {
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 27px;
  }

  &__text {
    font-size: 20px;
    color: #73A6B1;
  }
}

.rehabilitation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 160px;
}

.info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F1FDFF;
  height: 500px;
  padding: 40px 62px;
  gap: 60px;

  &__text {
    flex: 1;
    h2 {
      font-size: 46px;
      font-weight: 400;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      color: #000;
      max-width: 90%;
    }
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.mission {
  padding: 220px 0;
    
  &__content {
    position: relative;
    background-color: #F1FDFF;
    padding: 90px 62px;
  }

  p {
    width: 50%;
    font-size: 27px;
  }

  &__image {
    img {
      position: absolute;
      bottom: 0;
    }

    img:nth-child(1) {
      width: 50%;
      right: 0;
    }

    img:nth-child(2) {
      width: 35%;
      right: 7%;
    }
  }
}

.support {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 0;

  &__content {
    text-align: center;

    >p {
      margin-top: 15px;
    }
  }

  &__title {
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 17px;
  }

  &__text {
    font-size: 20px;
    color: #73A6B1;
  }

  &__goal {
    padding: 50px 0;
  }

  &__counter {
    display: flex;
    justify-content: center;
    font-size: 60px;
  
    p {
      padding: 0 13px;
      border-left: 2px solid #9AD2DE;
    }

    p:nth-child(1) {
      border: 0;
    }
  }
}

.footer {
  background-color: #F9FADF;
  padding: 50px 0 160px;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 0 10% 50px;

  &__info {
    width: 36%;
  }

  &__title {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__text {
    line-height: 1.5;
  }

  &__phone {
    margin-bottom: 60px;
  }

  &__icon {
    margin-bottom: 6px;

    img {
      margin-right: 10px;
    }
  }
}

.subscription {
  display: flex;
  background-color: #fff;
  padding: 60px;
  gap: 10%;

  &__image {
    max-width: 45%;
    object-fit: contain;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 31px;

    input {
      padding: 21px 43px;
      border-radius: 61px;
      background-color: #F9FADF;
      outline: none;
      border: none;
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      
      &::placeholder {
        color: #000;
        font-weight: 300;
      }
    }

    button {
      min-width: 100%;
      text-transform: uppercase;
    }
  }

  &__title {
    font-size: 27px;
  }
}